.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px 20px 20px 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  
}

.input {
  border: 0.1px solid rgb(45, 46, 47);
  outline: none;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
  height: 30px;
  color: orangered;
  background-color: white;
  outline:none;
  border:none;
  box-shadow: inset 0 0 0.3px 0.3px rgba(0, 0, 0, 0.5);

}

input::placeholder {
  color: orangered;
}

.heading {
  color: orangered;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  font-weight: 500;
}

.submit-button {  
  padding: 5px;
  width: 50%;
  height: 30px;
  color: white;
  background-color: orangered;
  border-radius: 10px;
}